{% extends "/base.twig" %}

{% block head %}
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block title %}
	<title>TeamSync - Accueil</title>
{% endblock %}

{% block content %}
	{% include "/layouts/headerHome.twig" %}
	<section class="flex justify-center items-center h-screen">
		<div class="text-center md:px-12 lg:text-left">
			<div class="w-100 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-32">
				<div class="grid items-center lg:grid-cols-2">
					<div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
						<div class="block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:px-12 lg:-mr-14 backdrop-blur-[30px]">
							<h1 class="mb-6 text-4xl font-bold tracking-tight md:text-5xl xl:text-6xl">
								Bienvenue sur
								<span class="text-indigo-400">Team.Sync</span>
							</h1>
							<p class="mb-8 text-gray-500 leading-relaxed">La plateforme qui vous permet de gérer efficacement vos employés en toute simplicité !</p>
							<a class="inline-block rounded bg-indigo-600 px-12 py-4 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-indigo-700 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-indigo-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-indigo-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]" data-te-ripple-init data-te-ripple-color="light" href="/register" role="button">S'inscrire</a>
							<a class="inline-block rounded ml-2 px-12 py-4 text-sm font-medium uppercase leading-normal text-indigo-600 transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-10 hover:shadow-md focus:text-indigo-600 focus:outline-none focus:ring-0 active:text-indigo-700" data-te-ripple-init data-te-ripple-color="light" href="/login" role="button">Se connecter</a>
						</div>
					</div>
					<div
						class="md:mb-12 lg:mb-0">
						<img src="/img/img-rh2.png" class="h-3/5 md:h-2/3 lg:h-auto w-3/5 md:w-2/3 lg:w-auto mx-auto rounded-lg shadow-lg" alt="image"/>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}