<!-- SVG Background -->
<span class="[&>svg]:absolute [&>svg]:-z-10 [&>svg]:hidden [&>svg]:h-[560px] [&>svg]:w-full [&>svg]:lg:block">
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320" preserveaspectratio="none" id="svg-theming-light" class="pointer-events-none absolute hidden w-full overflow-hidden transition-opacity duration-300 lg:block">
		<defs>
			<linearGradient id="gradient-svg-theming-light" x1="0" x2="0" y1="1" y2="0">
				<stop stop-color="hsl(245, 92.2%, 100%)" offset="0%"></stop>
				<stop stop-color="hsl(245, 92.2%, 92.1%)" offset="50%"></stop>
				<stop stop-color="hsl(245, 92.2%, 98%)" offset="80%"></stop>
				<stop stop-color="hsl(245, 92.2%, 100%)" offset="100%"></stop>
			</linearGradient>
		</defs>
		<path fill="url(#gradient-svg-theming-light)" d="M 0.351 306.998 C 0.351 306.998 106.387 303.855 120.22 303.067 C 376.703 288.465 418.036 245.269 555.376 156.785 C 654.124 93.165 748.046 49.314 901.379 38.868 C 1053.87 28.479 1440.135 82.672 1440.135 82.672 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 306.998 Z"></path>
	</svg>
</span>
<!-- SVG Background -->